tensorflow
tf-keras
streamlit
python-multipart
streamlit-option-menu
pillow
pytesseract
pymupdf
numpy
matplotlib
networkx
spacy
pandas
scikit-learn
joblib
python-docx
uvicorn
streamlit-authenticator==0.1.5
pandas
openpyxl
plotly
huggingface_hub
transformers
open3d
laspy
rasterio
torch
