ultralytics
easyocr
opencv-python-headless
numpy
pillow
streamlit
onnxruntime
ultralytics
speechrecognition
gtts
sounddevice==0.4.6
openai
SpeechRecognition
python-docx
ffmpeg
playsound
